include CHANGELOG.md
include LICENSE
include THIRD_PARTY_NOTICES.md
recursive-include licenses *.txt
recursive-include benchmarks *.in *.json *.md *.py *.sha256 *.txt *.yaml
recursive-include docs *.md
