include CHANGELOG.md
include LICENSE
include THIRD_PARTY_NOTICES.md
recursive-include licenses *.txt
recursive-include benchmarks *.example *.in *.json *.md *.py *.sh *.sha256 *.sbatch *.txt *.yaml
recursive-include docs *.md
